<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%pip install ipython-sql sqlalchemy==1.3.9 prettytable

Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9.tar.gz (6.0 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting prettytable
  Using cached prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.31.0)
INFO: pip is looking at multiple versions of ipython-sql to determine which version is compatible with other requirements. This could take a while.
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl.metadata (17 kB)
Collecting prettytable
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting sqlparse (from ipython-sql)
  Using cached sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils>=0.1.0 (from ipython-sql)
  Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: colorama in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.19.0)
Requirement already satisfied: stack_data in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\kiit\appdata\local\programs\python\python312\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Using cached sqlparse-0.5.3-py3-none-any.whl (44 kB)
Building wheels for collected packages: sqlalchemy, prettytable
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1164427 sha256=bfce554aa7ab72ab7037f73d8c1b13ef8e4749af2ae007e718b4df9df6328f3e
  Stored in directory: c:\users\kiit\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13705 sha256=318b45d5cb3f5537776a2f0ad984e3c01497eba0efaa635acce8c70772443e6e
  Stored in directory: c:\users\kiit\appdata\local\pip\cache\wheels\ca\f9\66\1ebeb8cdff2211eebb6fce02957f9e0a9ae3da4b7e65512d1b
Successfully built sqlalchemy prettytable
Installing collected packages: prettytable, ipython-genutils, sqlparse, sqlalchemy, ipython-sql

   -------- ------------------------------- 1/5 [ipython-genutils]
   ---------------- ----------------------- 2/5 [sqlparse]
   ---------------- ----------------------- 2/5 [sqlparse]
  Attempting uninstall: sqlalchemy
   ---------------- ----------------------- 2/5 [sqlparse]
    Found existing installation: SQLAlchemy 2.0.41
   ---------------- ----------------------- 2/5 [sqlparse]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
    Uninstalling SQLAlchemy-2.0.41:
   ------------------------ --------------- 3/5 [sqlalchemy]
      Successfully uninstalled SQLAlchemy-2.0.41
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   -------------------------------- ------- 4/5 [ipython-sql]
   ---------------------------------------- 5/5 [ipython-sql]

Successfully installed ipython-genutils-0.2.0 ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-1.3.9 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: Building 'sqlalchemy' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'sqlalchemy'. Discussion can be found at https://github.com/pypa/pip/issues/6334
  DEPRECATION: Building 'prettytable' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'prettytable'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
!pip install -q pandas

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [6]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
%sql SELECT * FROM SPACEXTBL WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass FROM SPACEXTBL WHERE "Customer" LIKE '%NASA (CRS)%';

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS Avg_Payload_Mass FROM SPACEXTBL WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [13]:
%sql SELECT MIN(Date) FROM SPACEXTBL WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
%sql SELECT DISTINCT "Booster_Version", "PAYLOAD_MASS__KG_" FROM SPACEXTBL WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [19]:
%sql SELECT (SELECT COUNT("Mission_Outcome") FROM SPACEXTBL WHERE "Mission_Outcome" LIKE '%Success%') AS Success, (SELECT COUNT("Mission_Outcome") FROM SPACEXTBL WHERE "Mission_Outcome" LIKE '%Failure%') AS Failure;

 * sqlite:///my_data1.db
Done.

[(100, 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [17]:
%sql SELECT "Landing_Outcome", COUNT("Landing_Outcome") AS Outcome_Count FROM SPACEXTBL WHERE Date BETWEEN '04-06-2010' AND '20-03-2017' GROUP BY "Landing_Outcome" ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [18]:
%sql SELECT "Landing_Outcome", COUNT("Landing_Outcome") AS Outcome_Count FROM SPACEXTBL WHERE Date BETWEEN '04-06-2010' AND '20-03-2017' GROUP BY "Landing_Outcome" ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[]